<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand text-capitalize" href="https://MoonL.me/" style="color: #42dca3;">MoonL</a><a class="navbar-brand text-capitalize" style="color: #42dca3;">|</a><a class="navbar-brand text-capitalize" id="title" href="./" style="color: #42dca3;">Tsukari</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: var(--bs-secondary);">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="#invites">Invite</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-color:grey">
        <div class="intro-body" style="background: var(--bs-gray-400);color: var(--bs-light);">
            <section class="text-center content-section" id="invites" style="background: var(--bs-dark);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Bot permission</h1>
                        </div>
                    </div>
                    <div class="row" style="text-align: left">
                        <div class="col" style="display: flex;justify-content: space-evenly;flex-wrap: wrap;width: 900px;">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-1">Label</label></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Special Setting</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: left;width: 75%;">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="slash"><label class="form-check-label" for="slash">Slash Commands</label></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;MoonL 2021</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
    <script src="assets/js/invite.js"></script>
</body>

</html>