<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand text-capitalize" href="https://MoonL.me/" style="color: #42dca3;">MoonL</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: var(--bs-secondary);">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="#invites">Invite</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#status">Status</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#faq">f.a.q</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#addcmd">Support</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#command-list">Command List</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-color:grey">
        <div class="intro-body" style="background: var(--bs-gray-400);color: var(--bs-light);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 id="title" class="brand-heading text-capitalize" style="color: var(--bs-dark);">Tsukari</h1>
                        <p class="intro-text" style="color: var(--bs-dark);">A Multipurposed Discord Bot</p>
                        <div class="row">
                            <div class="col-md-12"><a class="btn btn-primary" href="./invite">Invite me</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin: 10px 0px 0px;"><a class="btn btn-link btn-circle" role="button" href="#invites" style="color: var(--bs-dark);border: 2px solid var(--bs-dark);margin: 5px 0px 0px;"><i class="fa fa-angle-double-down animated"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="invites" style="background: var(--bs-dark);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Invite Tsukari to your server&nbsp;</h2><a class="btn btn-primary" href="./invite">Add Tsukari</a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="about" style="background: var(--bs-gray-400);color: var(--bs-light);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto" style="color: var(--bs-dark);">
                    <h2>About Tsukari</h2>
                    <p style="width: 75%;margin: auto;text-align: left;">Tsukari is an Open-source discord bot, that capable of doing many things like Moderation,Anime,And stuff<br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center download-section content-section" id="status" style="background: var(--bs-dark);">
        <div class="container" style="color: var(--bs-gray-400);">
            <div class="col-lg-8 mx-auto">
                <h1 style="color: var(--bs-gray-400);">status</h1>
            </div>
            <div class="row row-cols-lg-12">
                <div class="col-md-4">
                    <h2>Uptime<br></h2>
                    <h4>... HOUR<br></h4>
                </div>
                <div class="col-md-4">
                    <h2>Currently in<br></h2>
                    <h4>.... GUILDS<br></h4>
                </div>
                <div class="col-md-4">
                    <h2>total commands<br></h2>
                    <h4>4 commands loaded</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="faq" style="background: var(--bs-gray-400);">
        <div class="container">
            <div class="row" style="color: var(--bs-dark);">
                <div class="col-lg-8 mx-auto">
                    <h2>F.A.Q</h2>
                    <p style="text-align: left;">Q:Is Tsukari gonna spy me ?<br>A:No. infact, Tsukari is Open-source, you can see what we do with it,&nbsp;<a href="https://github.com/MoonLGH/Tsukari-Bot">Here</a></p>
                    <p style="text-align: left;">Q:How and what does Tsukari use?<br>A:Tsukari is Running Discord.js V13 with Mongodb as the database part, and hosted in an Azure vm</p><p style="text-align: left;">Q:What does Tsukari do?<br />A:Tsukari can do a lot of things, like anime commands and stuff, <a href="./commands/?type=text">Click here for Command List<br /></a></p>
                    <p style="text-align: left;">Q:Why does the bot named "Tsukari"?<br>A:"Tsukari" つかり is actually came from "Tsuki No Hikari" 月の光 that means "Moon Light"<br></p>
                    <p style="text-align: left;">Q:How do i request for commands/How do i get Support?<br>A:Good question, move to the next section<br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="addcmd" style="background: var(--bs-dark);">
        <div class="container">
            <div class="row" style="color: var(--bs-gray-400);">
                <div class="col-lg-8 mx-auto">
                    <h2>Request for commands/Support</h2>
                    <p>Need Support, or have a request for a new commands?<br>Go to server belows!</p><a class="btn btn-primary" href="https://discord.gg/VPPDeT4H">Discord Server</a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="command-list" style="background: var(--bs-gray-400);">
        <div class="container">
            <div class="row" style="color: var(--bs-dark);">
                <div class="col-lg-8 mx-auto">
                    <h2>Command List</h2>
                    <p>Looking For Tsukari Command List's ?<br>Click the green button below</p><a class="btn btn-primary" href="./commands/?type=text">Command List</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;MoonL 2021</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
    <script src="assets/js/invite.js"></script>
</body>

</html>