<!DOCTYPE html>
<html>
<head>
	<title>Tsukari Dashboard - Login</title>
    <%- include("./templates/head") %>
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <%- include("./templates/navbar",{li:[{href:"../",name:"home"}]}) %>
    <header class="masthead" style="background-color: var(--bs-gray-400)">
        <div class="intro-body" style="color: var(--bs-light);">
            <div class="container">
                <div class="row" style="color: var(--bs-dark);">
                    <h1>Login</h1>
                    <div class="col-lg-6 mx-auto">
                        <a id="login" class="btn btn-primary" style="display: block;" href="<%= oauth2LoginURL %>">Sing in with discord</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%- include("./templates/scripts") %>
</body>
</html>