.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
}

@media (max-width: 1080px) {
    .grid{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media (max-width: 840px) {
    .grid{
        grid-template-columns: 1fr !important;
    } 
}
